<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.funcampus.activityCanEnrollTribe.dao.ActivityCanEnrollTribeDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        activity_can_enroll_tribe.id,
        activity_can_enroll_tribe.activity_id,
        activity_can_enroll_tribe.can_enroll_tribe,
        activity_can_enroll_tribe.create_time,
        activity_can_enroll_tribe.update_time,
        activity_can_enroll_tribe.deleted_flag
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.funcampus.activityCanEnrollTribe.domain.vo.ActivityCanEnrollTribeVO">
        SELECT
        <include refid="base_columns"/>
        FROM activity_can_enroll_tribe
    </select>

    <update id="batchUpdateDeleted">
        update activity_can_enroll_tribe set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update activity_can_enroll_tribe set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>

</mapper>
