<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.funcampus.organizerActivity.dao.OrganizerActivityDao">
    <sql id="base_columns">
        organizer_activity.id,
        organizer_activity.organizer_id,
        organizer_activity.activity_id,
        organizer_activity.create_time,
        organizer_activity.update_time,
        organizer_activity.deleted_flag
    </sql>
</mapper>