<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.funcampus.portalOrganizerUser.dao.PortalOrganizerUserDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        portal_organizer_user.id,
        portal_organizer_user.username,
        portal_organizer_user.password,
        portal_organizer_user.create_time,
        portal_organizer_user.update_time,
        portal_organizer_user.deleted_flag,
        portal_organizer_user.avatar,
        portal_organizer_user.phone,
        portal_organizer_user.school_id
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.funcampus.portalOrganizerUser.domain.vo.PortalOrganizerUserVO">
        SELECT
        <include refid="base_columns"/>
        FROM portal_organizer_user
    </select>

    <update id="batchUpdateDeleted">
        update portal_organizer_user set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update portal_organizer_user set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>

</mapper>
