<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.admin.module.business.funcampus.portalUser.dao.PortalUserDao">

    <!-- 查询结果列（实体字段） -->
    <sql id="base_columns">
        portal_user.id,
        portal_user.username,
        portal_user.password,
        portal_user.create_time,
        portal_user.update_time,
        portal_user.deleted_flag,
        portal_user.disable_flag,
        portal_user.gender,
        portal_user.phone,
        portal_user.avatar,
        portal_user.school_id,
        portal_user.college_id,
        portal_user.can_publish_activity,
        portal_user.grade_id,
        portal_user.grade_score,
        portal_user.credit_score,
        portal_user.organization_id
    </sql>

    <!-- 分页查询（关联学校/学院/年级名称） -->
    <select id="queryPage" resultType="com.akkkka.admin.module.business.funcampus.portalUser.domain.vo.PortalUserVO">
        SELECT
        portal_user.id,
        portal_user.username,
        portal_user.gender,
        portal_user.phone,
        portal_user.avatar,
        portal_user.school_id,
        school_info.name AS school_name,
        portal_user.college_id,
        college_info.name AS college_name,
        portal_user.disable_flag,
        portal_user.can_publish_activity,
        portal_user.grade_id,
        grade_info.name AS grade_name
        FROM portal_user
        LEFT JOIN school_info ON portal_user.school_id = school_info.id
        LEFT JOIN college_info ON portal_user.college_id = college_info.id
        LEFT JOIN grade_info ON portal_user.grade_id = grade_info.id
        WHERE portal_user.deleted_flag = 0
        <!--用户名-->
        <if test="queryForm.username != null and queryForm.username != ''">
            AND portal_user.username LIKE CONCAT('%', #{queryForm.username}, '%')
        </if>
        <!--手机号-->
        <if test="queryForm.phone != null and queryForm.phone != ''">
            AND portal_user.phone = #{queryForm.phone}
        </if>
        <!--学校名-->
        <if test="queryForm.schoolName != null and queryForm.schoolName != ''">
            AND school_info.name LIKE CONCAT('%', #{queryForm.schoolName}, '%')
        </if>
        <!--学校id-->
        <if test="queryForm.schoolId != null and queryForm.schoolId != ''">
            AND portal_user.school_id = #{queryForm.schoolId}
        </if>
        <!--学院名-->
        <if test="queryForm.collegeName != null and queryForm.collegeName != ''">
            AND college_info.name LIKE CONCAT('%', #{queryForm.collegeName}, '%')
        </if>
    </select>

    <update id="batchUpdateDeleted">
        update portal_user set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update portal_user set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>


    <select id="queryByIds" resultType="com.akkkka.admin.module.business.funcampus.portalUser.domain.entity.PortalUserEntity">
        SELECT
        <include refid="base_columns"/>
        FROM portal_user
        WHERE id IN
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
