<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.funcampusnotice.mapper.ActivityEnrollNumMapper">
    
    <resultMap type="ActivityEnrollNum" id="ActivityEnrollNumResult">
        <result property="activityUid"    column="activity_uid"    />
        <result property="enrollNum"    column="enroll_num"    />
    </resultMap>

    <sql id="selectActivityEnrollNumVo">
        select activity_uid, enroll_num from activity_enroll_num
    </sql>

    <select id="selectActivityEnrollNumList" parameterType="ActivityEnrollNum" resultMap="ActivityEnrollNumResult">
        <include refid="selectActivityEnrollNumVo"/>
        <where>  
            <if test="enrollNum != null "> and enroll_num = #{enrollNum}</if>
        </where>
    </select>
    
    <select id="selectActivityEnrollNumByActivityUid" parameterType="String" resultMap="ActivityEnrollNumResult">
        <include refid="selectActivityEnrollNumVo"/>
        where activity_uid = #{activityUid}
    </select>

    <insert id="insertActivityEnrollNum" parameterType="ActivityEnrollNum">
        insert into activity_enroll_num
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityUid != null">activity_uid,</if>
            <if test="enrollNum != null">enroll_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityUid != null">#{activityUid},</if>
            <if test="enrollNum != null">#{enrollNum},</if>
         </trim>
    </insert>

    <update id="updateActivityEnrollNum" parameterType="ActivityEnrollNum">
        update activity_enroll_num
        <trim prefix="SET" suffixOverrides=",">
            <if test="enrollNum != null">enroll_num = #{enrollNum},</if>
        </trim>
        where activity_uid = #{activityUid}
    </update>

    <delete id="deleteActivityEnrollNumByActivityUid" parameterType="String">
        delete from activity_enroll_num where activity_uid = #{activityUid}
    </delete>

    <delete id="deleteActivityEnrollNumByActivityUids" parameterType="String">
        delete from activity_enroll_num where activity_uid in 
        <foreach item="activityUid" collection="array" open="(" separator="," close=")">
            #{activityUid}
        </foreach>
    </delete>
</mapper>