<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.funcampusnotice.mapper.ActivityCommentHotMapper">
    
    <resultMap type="ActivityCommentHot" id="ActivityCommentHotResult">
        <result property="commentUid"    column="comment_uid"    />
        <result property="commentHot"    column="comment_hot"    />
    </resultMap>

    <sql id="selectActivityCommentHotVo">
        select comment_uid, comment_hot from activity_comment_hot
    </sql>

    <select id="selectActivityCommentHotList" parameterType="ActivityCommentHot" resultMap="ActivityCommentHotResult">
        <include refid="selectActivityCommentHotVo"/>
        <where>  
            <if test="commentHot != null "> and comment_hot = #{commentHot}</if>
        </where>
    </select>
    
    <select id="selectActivityCommentHotByCommentUid" parameterType="String" resultMap="ActivityCommentHotResult">
        <include refid="selectActivityCommentHotVo"/>
        where comment_uid = #{commentUid}
    </select>

    <insert id="insertActivityCommentHot" parameterType="ActivityCommentHot">
        insert into activity_comment_hot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentUid != null">comment_uid,</if>
            <if test="commentHot != null">comment_hot,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentUid != null">#{commentUid},</if>
            <if test="commentHot != null">#{commentHot},</if>
         </trim>
    </insert>

    <update id="updateActivityCommentHot" parameterType="ActivityCommentHot">
        update activity_comment_hot
        <trim prefix="SET" suffixOverrides=",">
            <if test="commentHot != null">comment_hot = #{commentHot},</if>
        </trim>
        where comment_uid = #{commentUid}
    </update>

    <delete id="deleteActivityCommentHotByCommentUid" parameterType="String">
        delete from activity_comment_hot where comment_uid = #{commentUid}
    </delete>

    <delete id="deleteActivityCommentHotByCommentUids" parameterType="String">
        delete from activity_comment_hot where comment_uid in 
        <foreach item="commentUid" collection="array" open="(" separator="," close=")">
            #{commentUid}
        </foreach>
    </delete>
</mapper>