<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.funcampusnotice.mapper.ActivityEnrollmentMapper">
    
    <resultMap type="ActivityEnrollment" id="ActivityEnrollmentResult">
        <result property="activityUid"    column="activity_uid"    />
        <result property="userUid"    column="user_uid"    />
        <result property="signInStatus"    column="sign_in_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectActivityEnrollmentVo">
        select activity_uid, user_uid, sign_in_status, create_time, update_time, deleted from activity_enrollment
    </sql>

    <select id="selectActivityEnrollmentList" parameterType="ActivityEnrollment" resultMap="ActivityEnrollmentResult">
        <include refid="selectActivityEnrollmentVo"/>
        <where>  
            <if test="signInStatus != null "> and sign_in_status = #{signInStatus}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectActivityEnrollmentByActivityUid" parameterType="String" resultMap="ActivityEnrollmentResult">
        <include refid="selectActivityEnrollmentVo"/>
        where activity_uid = #{activityUid}
    </select>

    <insert id="insertActivityEnrollment" parameterType="ActivityEnrollment">
        insert into activity_enrollment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityUid != null">activity_uid,</if>
            <if test="userUid != null">user_uid,</if>
            <if test="signInStatus != null">sign_in_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityUid != null">#{activityUid},</if>
            <if test="userUid != null">#{userUid},</if>
            <if test="signInStatus != null">#{signInStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateActivityEnrollment" parameterType="ActivityEnrollment">
        update activity_enrollment
        <trim prefix="SET" suffixOverrides=",">
            <if test="userUid != null">user_uid = #{userUid},</if>
            <if test="signInStatus != null">sign_in_status = #{signInStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where activity_uid = #{activityUid}
    </update>

    <delete id="deleteActivityEnrollmentByActivityUid" parameterType="String">
        delete from activity_enrollment where activity_uid = #{activityUid}
    </delete>

    <delete id="deleteActivityEnrollmentByActivityUids" parameterType="String">
        delete from activity_enrollment where activity_uid in 
        <foreach item="activityUid" collection="array" open="(" separator="," close=")">
            #{activityUid}
        </foreach>
    </delete>
</mapper>