<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.funcampusnotice.mapper.OrganizerActivityMapper">
    
    <resultMap type="OrganizerActivity" id="OrganizerActivityResult">
        <result property="uid"    column="uid"    />
        <result property="activityUid"    column="activity_uid"    />
        <result property="organizerUid"    column="organizer_uid"    />
        <result property="deleted"    column="deleted"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectOrganizerActivityVo">
        select uid, activity_uid, organizer_uid, deleted, update_time, create_time from organizer_activity
    </sql>

    <select id="selectOrganizerActivityList" parameterType="OrganizerActivity" resultMap="OrganizerActivityResult">
        <include refid="selectOrganizerActivityVo"/>
        <where>  
            <if test="activityUid != null  and activityUid != ''"> and activity_uid = #{activityUid}</if>
            <if test="organizerUid != null  and organizerUid != ''"> and organizer_uid = #{organizerUid}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectOrganizerActivityByUid" parameterType="String" resultMap="OrganizerActivityResult">
        <include refid="selectOrganizerActivityVo"/>
        where uid = #{uid}
    </select>

    <insert id="insertOrganizerActivity" parameterType="OrganizerActivity">
        insert into organizer_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="activityUid != null and activityUid != ''">activity_uid,</if>
            <if test="organizerUid != null and organizerUid != ''">organizer_uid,</if>
            <if test="deleted != null">deleted,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="activityUid != null and activityUid != ''">#{activityUid},</if>
            <if test="organizerUid != null and organizerUid != ''">#{organizerUid},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateOrganizerActivity" parameterType="OrganizerActivity">
        update organizer_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityUid != null and activityUid != ''">activity_uid = #{activityUid},</if>
            <if test="organizerUid != null and organizerUid != ''">organizer_uid = #{organizerUid},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteOrganizerActivityByUid" parameterType="String">
        delete from organizer_activity where uid = #{uid}
    </delete>

    <delete id="deleteOrganizerActivityByUids" parameterType="String">
        delete from organizer_activity where uid in 
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>
</mapper>