<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.funcampusnotice.mapper.OrganizerUserMapper">
    
    <resultMap type="OrganizerUser" id="OrganizerUserResult">
        <result property="uid"    column="uid"    />
        <result property="name"    column="name"    />
        <result property="schoolUid"    column="school_uid"    />
        <result property="collegeUid"    column="college_uid"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrganizerUserVo">
        select uid, name, school_uid, college_uid, deleted, create_time, update_time from organizer_user
    </sql>

    <select id="selectOrganizerUserList" parameterType="OrganizerUser" resultMap="OrganizerUserResult">
        <include refid="selectOrganizerUserVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="schoolUid != null  and schoolUid != ''"> and school_uid = #{schoolUid}</if>
            <if test="collegeUid != null  and collegeUid != ''"> and college_uid = #{collegeUid}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectOrganizerUserByUid" parameterType="String" resultMap="OrganizerUserResult">
        <include refid="selectOrganizerUserVo"/>
        where uid = #{uid}
    </select>

    <insert id="insertOrganizerUser" parameterType="OrganizerUser">
        insert into organizer_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="schoolUid != null and schoolUid != ''">school_uid,</if>
            <if test="collegeUid != null and collegeUid != ''">college_uid,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="schoolUid != null and schoolUid != ''">#{schoolUid},</if>
            <if test="collegeUid != null and collegeUid != ''">#{collegeUid},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOrganizerUser" parameterType="OrganizerUser">
        update organizer_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="schoolUid != null and schoolUid != ''">school_uid = #{schoolUid},</if>
            <if test="collegeUid != null and collegeUid != ''">college_uid = #{collegeUid},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteOrganizerUserByUid" parameterType="String">
        delete from organizer_user where uid = #{uid}
    </delete>

    <delete id="deleteOrganizerUserByUids" parameterType="String">
        delete from organizer_user where uid in 
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>
</mapper>