<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.admin.module.business.funcampus.activityCanEnrollCollege.dao.ActivityCanEnrollCollegeDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        activity_can_enroll_college.id,
        activity_can_enroll_college.activity_id,
        activity_can_enroll_college.can_enroll_college,
        activity_can_enroll_college.deleted_flag,
        activity_can_enroll_college.create_time,
        activity_can_enroll_college.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="com.akkkka.admin.module.business.funcampus.activityCanEnrollCollege.domain.vo.ActivityCanEnrollCollegeVO">
        SELECT
        <include refid="base_columns"/>
        FROM activity_can_enroll_college
        <where>
            <!--活动id-->
            <if test="queryForm.activityId != null">
                AND activity_can_enroll_college.activity_id = #{queryForm.activityId}
            </if>
            <!--能报名的学院id-->
            <if test="queryForm.canEnrollCollege != null">
                AND activity_can_enroll_college.can_enroll_college = #{queryForm.canEnrollCollege}
            </if>
            <!--是否删除-->
            <if test="queryForm.deletedFlag != null">
                AND activity_can_enroll_college.deleted_flag = #{queryForm.deletedFlag}
            </if>
        </where>
    </select>

    <update id="batchUpdateDeleted">
        update activity_can_enroll_college set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update activity_can_enroll_college set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>

</mapper>
