<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akkkka.admin.module.business.funcampus.tribeUser.dao.TribeUserDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        tribe_user.id,
        tribe_user.tribe_id,
        tribe_user.portal_user_id,
        tribe_user.username,
        tribe_user.deleted_flag,
        tribe_user.create_time,
        tribe_user.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="com.akkkka.admin.module.business.funcampus.tribeUser.domain.vo.TribeUserVO">
        SELECT
        <include refid="base_columns"/>
        FROM tribe_user
    </select>

    <update id="batchUpdateDeleted">
        update tribe_user set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update tribe_user set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>


</mapper>
